<div class="container">
	<div class="hero-unit">
	  <h2>Welcome to Angel + Ray's World</h2>
    <img src="images/angelray_cover.jpg" width="268">
    <img src="images/angelray_home.jpg" width="170">
	  <p>This website is dedicated to the adventures of Angel and Ray, two lovebirds from San Francisco, CA.  They have been together for over a year and are well set on their way for a life together :)</p>
	  <p><%= link_to "Learn more about their history >>", history_path, class: "btn btn-primary btn-large" %></p>
	</div>
</div>